rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user} {
      allow read: if request.auth.uid == user || resource.data.role_teacher;
    }

    match /passes/{pass} {
      allow read: if request.auth.uid
                    in [resource.data.issuer, resource.data.holder];
      
      // FIXME: do proper validation
      allow write: if true;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}