<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100310942224-h0qo9j6gjdkc0lbd9q1qee8b8u4drm0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100310942224-h0qo9j6gjdkc0lbd9q1qee8b8u4drm0f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>100310942224-9do7a58qm3akhtldb1aeu5talaqvv4kg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGsPrntzK-auNCR2u0mh2VtJvgu_pLQKk</string>
	<key>GCM_SENDER_ID</key>
	<string>100310942224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>school.holly.app</string>
	<key>PROJECT_ID</key>
	<string>holly-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>holly-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100310942224:ios:70b0e00da72ee118ae8095</string>
</dict>
</plist>