:root {
	font-family: var(--font-body);

	background-color: var(--col-bg);
	color: var(--col-fg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
}

:root {
	--font-heading: "Playfair Display";
	--font-body: "Lato";
}

:root {
	--col-fg: #f3f4f7;
	--col-fg-contrast: #a8b0c7; // dark mode low contrast font, dark mode disabled button font
	--disabled-button: #7682a7; // dark mode disabled button
	--col-bg-contrast: #404764; // dark mode bg contrast
	--col-bg: #282c3e; // dark mode bg

	--col-green: #5fbf89; // dark mode green

	--col-red: #d74755; // dark mode red
}

.firebase-emulator-warning {
	opacity: 0.2;
}
