:root {
	font-family: "Noto Sans";

	background-color: var(--bg);
	color: var(--font);
}

:root {
    --font: #f3f4f7;
	--font-contrast: #a8b0c7; // dark mode low contrast font, dark mode disabled button font
	--disabled-button: #7682a7; // dark mode disabled button
	--bg-contrast: #404764; // dark mode bg contrast
	--bg: #282c3e; // dark mode bg

	--green: #5fbf89; // dark mode green

	--red: #d74755; // dark mode red
}

.firebase-emulator-warning {
	opacity: 0.2;
}
