// box sizing rules
*,
*::before,
*::after {
	box-sizing: border-box;
}

// remove default margin
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

// remove list styling
ul,
ol {
	list-style: none;
	padding: 0;
}

// display images as blocks by default
img {
	max-width: 100%;
	display: block;
}

// remove default link styling
a,
a:visited {
	text-decoration: none;
	color: inherit;
}

// remove default button styling
button,
button:focus,
button:active {
	outline: none;
	background: unset;
	border: none;

	font-family: inherit;
	color: inherit;
}
